#aboutContentGrid {
    -fx-background-color: white;
}

.jfx-button{
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    transition: background-color 2s ease;
}

.jfx-button:hover{
    -fx-background-color: #E9E9EB;
    -fx-effect: dropshadow( three-pass-box , rgba(2, 2, 2, 0.2), 20, 0.0 , 1 , 10);
    -fx-font-family: Roboto;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

#title {
    -fx-font-family: Roboto;
    -fx-font-size: 22;
    -fx-text-fill: #0F4B91;
    -fx-font-weight: bold;
}

#subTitle {
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-text-fill: #0F4B91;
    -fx-font-weight: bold;
}

#credits {
    fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-text-fill: #0F4B91;
    -fx-font-weight: bold;
}

.creditsLabels {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.teamMemberLabel {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.thankYouLabels {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}