#formSquare{
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 40;

}

.jfx-text-field {
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -jfx-unfocus-color : #0F4B91;
    -jfx-focus-color: #0F4B91;
    -fx-prompt-text-fill: #0F4B91;
    -fx-max-width: 400;
    -fx-font-weight: bold;
}
.jfx-check-box {
    -fx-text-fill: #0F4B91;
    -fx-font-size: 20;
    -jfx-unfocus-color: #0F4B91;
    -fx-font-weight: bold;
}

#gridForm{
    -fx-background-radius: 40;
}

.label {
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: #0F4B91;
}

.jfx-button {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0F4B91;
}

#title{
    -fx-font-family: Roboto;
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: #0F4B91;
}
#foodDeliveryTitleLabel{
    -fx-font-family: Roboto;
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: #0F4B91;
}
