#vbox {
    -fx-background-color: rgba(255, 255, 255, 0.50);
    -fx-background-radius: 40;
}
#formGrid {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 40;
}
#mapPane {
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}
#stackPane {
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}
#scrollMapPane {
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}
.scroll-pane {
    -fx-background-color:  transparent;
}

.scroll-pane:horizontal {
    visibility: false;
}
#selectNodePrompt {
     -fx-font-family: Roboto;
     -fx-text-fill: grey;
     -fx-font-size: 30;
}
.jfx-button{
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-font-weight: bold;
    -fx-background-radius: 40;
    transition: background-color 2s ease;
}
.jfx-combo-box {
    -fx-prompt-text-fill: grey ;
    -fx-background-color: rgba(186, 186, 186, 0.43);
    -jfx-unfocus-color: transparent;
    -fx-font-size: 20;
}
.jfx-combo-box .text-field:focused {
    -fx-prompt-text-fill: transparent ;
}

.jfx-combo-box:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(2, 2, 2, 0.2), 20, 0.0 , 1 , 10);
}
.jfx-text-field {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -jfx-unfocus-color : #bababa;
    -jfx-focus-color: grey;
    -fx-max-width: 400;
    -fx-prompt-text-fill: grey;
}
.label {
    -fx-text-fill: grey;
}