#externalTransportationLabel {
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 50;
}

.jfx-text-field {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill : #ffffff;
    -jfx-unfocus-color : #ffffff;
    -fx-max-width: 400;
    -fx-prompt-text-fill: white;
}

.jfx-combo-box {
    -fx-prompt-text-fill: grey ;
    -fx-background-color: white;
    -fx-font-size: 20;
    -fx-pref-width: 400;
    -fx-font-family: Roboto;
}
.jfx-combo-box .text-field:focused {
    -fx-prompt-text-fill: transparent ;
}

#submitBtn{
    -fx-background-color: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}