#backBtn {
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#helpBtn {
    -fx-background-color: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#oodDeliveryTitleLabel {
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 50;
}

.jfx-text-field {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill : #ffffff;
    -jfx-unfocus-color : #ffffff;
    -fx-max-width: 400;
    -fx-prompt-text-fill: white;
}


#submitBtn{
    -fx-background-color: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}