#formSquare {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.jfx-text-field {
    -fx-text-fill: black;
    -fx-prompt-text-fill: #aaaaaa;
    -jfx-unfocus-color : #aaaaaa;
}

#backgroundGrid {
    -fx-background-color: rgba(15, 75, 145, 0.75);
}

.label {
    -fx-font-family: Roboto;
    -fx-font-size: 60;
    -fx-font-weight: bold;
}

/* Styles for the buttons */

.jfx-button{
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    transition: background-color 2s ease;
}

.jfx-button:hover{
    -fx-background-color: #c2c2c2;
    -fx-effect: dropshadow( three-pass-box , rgba(2, 2, 2, 0.2), 20, 0.0 , 1 , 10);
    -fx-font-family: Roboto;
    -fx-text-fill: grey;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

#textArea{
    -fx-font-size: 30;
    -fx-font-family: Roboto;
    -fx-effect: dropshadow( three-pass-box , rgba(2, 2, 2, 0.2), 20, 0.0 , 1 , 10);
    -fx-background-color: rgba(180, 178, 178, 0.15);
    -fx-highlight-fill: rgb(191, 3, 3);

}