#backBtn {
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#availableServicesText {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}


#servicesSideLabel {
    -fx-text-fill: rgba(128, 128, 128, 0.68);
    -fx-font-size: 15;
    -fx-font-family: Roboto;
}

#menuSideBarLabel {
    -fx-text-fill: rgba(97, 97, 97, 0.68);
    -fx-font-size: 15;
    -fx-font-family: Roboto;
}

#mapSideLabel {
    -fx-text-fill: rgba(97, 97, 97, 0.68);
    -fx-font-size: 15;
    -fx-font-family: Roboto;
}

#emergencyVBox {
    -fx-background-color: #ff9494;
    -fx-background-radius: 20;
}

.scroll-pane {
    -fx-background-color:  transparent;
}

.scroll-pane:horizontal {
    visibility: false;
}