#internalTransportationBtn, #externalTransportationBtn {
    -fx-background-color: #1BB55C;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-pref-width: 350;
    -fx-pref-height: 100;
}

#floralDeliveryBtn, #foodDeliveryBtn {
    -fx-background-color: #1c867b;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-pref-width: 350;
    -fx-pref-height: 100;
}

#sanitationServicesBtn {
    -fx-background-color: #e7b126;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-pref-width: 350;
    -fx-pref-height: 100;
}

#emergencyBtn{
    -fx-background-color: #E74C3C;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-pref-width: 350;
    -fx-pref-height: 100;
}

#backBtn {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}

#availableServicesText {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}