.jfx-text-field {
    -fx-font-family: Roboto;
    -fx-font-size: 24;
    -fx-prompt-text-fill: grey;
    -jfx-unfocus-color : grey;
    -jfx-focus-color : #0F4B91 ;
}

#orLabel {
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-text-fill: rgba(193, 193, 193, 0.93);
}

#patientIdLabel {
    -fx-font-family: Roboto;
    -fx-font-size: 20;
}

.jfx-button{
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    transition: background-color 2s ease;
}

.jfx-button:hover{
    -fx-background-color: #c2c2c2;
    -fx-effect: dropshadow( three-pass-box , rgba(2, 2, 2, 0.2), 20, 0.0 , 1 , 10);
    -fx-font-family: Roboto;
    -fx-text-fill: grey;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

.jfx-password-field{
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-prompt-text-fill: grey;
    -jfx-unfocus-color: grey;
    -jfx-focus-color: #0F4B91;
}

