.jfx-button{
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
    -fx-font-size: 15;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    transition: background-color 2s ease;
}

#mapTopBar{
    -fx-background-color: transparent;
}

#scrollpane > .viewport {
    -fx-background-color: transparent;
}

#scrollpane {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

#tabPane {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}