.jfx-button{
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
    -fx-font-size: 15;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    transition: background-color 2s ease;
}

#mapTopBar{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

#tabPane .tab-selected-line {
    /*-fx-background-color: #0059A9;*/
    -fx-background-color: transparent;
}
#tabPane .tab-selected-color {
    /*-fx-background-color: #0059A9;*/
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
#tabPane .headers-region {
    -fx-background-color: transparent;
    -fx-effect: none;
}
#tabPane .depth-container {
    -fx-effect: null;
}
#tabPane .tab-label {
    -fx-text-fill: black;
}
#tabPane .tab-header-background {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
#tabPane .control-buttons-tab{
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
#tabPane .control-buttons-tab .tab-down-button{
    -fx-background-color: #0059A9 ;
}
#tabPane{
    -fx-background-color: rgba(255, 255, 255, 0.90);
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}
#tabsPaneAnchor {
    /*-fx-background-color: rgba(255, 255, 255, 0.01);*/
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-fill: transparent;
}

#tabPane .label {
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-width: 3;
    -fx-border-radius: 40;
    -fx-font-size: 40;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-min-height: 35;
    -fx-min-width: 35;
    -fx-text-alignment: center;
}

#insideTabPaneAnchor {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}
