.jfx-button{
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    transition: background-color 10s ease;
}

#mapTopBar{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

#tabPane .tab-selected-line {
    -fx-background-color: #0059A9;
    -fx-max-width: 20;
    -fx-pref-width: 3;
    /*-fx-background-color: transparent;*/
}
#tabPane .tab-selected-color {
    /*-fx-background-color: #0059A9;*/
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
#tabPane .headers-region {
    -fx-background-color: transparent;
}
#tabPane .depth-container {
    -fx-effect: null;
}
#tabPane .tab-label {
    -fx-text-fill: grey;
}
#tabPane .tab:selected .tab-label {
    -fx-text-fill: #494949;
}
#tabPane .tab-header-background {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 40 40 0 0;
    -fx-border-radius: 40;
}
#tabPane .control-buttons-tab{
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
#tabPane .control-buttons-tab .tab-down-button{
    -fx-background-color: #0059A9 ;
}
#tabPane .depth-container .tab-header-area {
    -fx-padding: 0 0 0 0;
}
#tabPane .tab {
    -fx-padding:0 0 0 130;
}
#tabPane{
    -fx-background-color: rgba(255, 255, 255, 0.90);
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -jfx-disable-animation: true;
}
#tabsPaneAnchor {
    /*-fx-background-color: rgba(255, 255, 255, 0.01);*/
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-fill: transparent;
}
#tabPane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: none;
}
#tabPane .label {
    -fx-text-fill: grey;
    -fx-font-size: 20;
}
#insideTabPaneAnchor {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}
