.jfx-text-field {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
    -fx-text-fill: WHITE;
}

.jfx-text-area {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.label {
    -fx-font-family: Roboto;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

#getStartedText {
    -fx-font-family: "Roboto";
    -fx-font-size: 60;
    -fx-font-weight: bold;
}

#loginInformationText {
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#inputPatientId {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill : #ffffff;
    -jfx-unfocus-color : #ffffff;
}

#continueBtnLogin {
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#emergencyBtn {
    -fx-background-color: #E74C3C;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#staffMemberBtn {
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#emergencyPopUp {
/*    hey */
    visibility: false;
}

#emergencyPopUpLabel {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#areYouSureAboutThatEmergencyLabel {
    -fx-font-size: 20;
}

#yesEmergencyPopUpBtn {
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#noEmergencyPopUpBtn {
    -fx-background-color: grey;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#innerContainer {
    margin:auto;
}

#loginPage {
    hight: 100%;
    width: 100%;
}

#backBtnFoodDelivery {
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#foodDeliveryTitleLabel {
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 50;
}

.jfx-combo-box {
    -fx-prompt-text-fill: grey ;
    -fx-background-color: white;
    -fx-font-size: 20;
}
.jfx-combo-box .text-field:focused {
    -fx-prompt-text-fill: transparent ;
}

#labelFoodDelivery {
    -fx-font-size: 25;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}

#submitBtnFoodDelivery {
    -fx-background-color: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}