.jfx-text-field {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
    -fx-text-fill: WHITE;
}

.jfx-text-area {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: GREY;
    -jfx-unfocus-color: WHITE;
}

.label {
    -fx-font-family: Roboto;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

#getStartedText {
    -fx-font-family: "Roboto";
    -fx-font-size: 60;
    -fx-font-weight: bold;
}

#loginInformationText {
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#inputPatientId {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill : #ffffff;
    -jfx-unfocus-color : #ffffff;
}

#continueBtnLogin {
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#emergencyBtn {
    -fx-background-color: #E74C3C;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#staffMemberBtn {
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#emergencyPopUp {
/*    hey */
    -fx-opacity: 0;
}

#emergencyPopUpLabel {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#areYouSureAboutThatEmergencyLabel {
    -fx-font-size: 20;
}

#yesEmergencyPopUpBtn {
    -fx-background-color: #0F4B91;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#noEmergencyPopUpBtn {
    -fx-background-color: grey;
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}