.jfx-text-field {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
    -fx-text-fill: WHITE;
}

.jfx-text-area {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: GREY;
    -jfx-unfocus-color: WHITE;
}